<div class="container home">
    <div class="row">
        <div class="col-12">
            <h4 class="description">
                We are Team 11 from BS Computer Engineering 5 - 1
            </h4>
            <div class="row ">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a href="/team/11/Eisen" class="profileImage">
                        <img src="https://scontent.fmnl3-1.fna.fbcdn.net/v/t1.0-9/26231388_1703414739704620_2160558556598367980_n.jpg?_nc_cat=0&_nc_eui2=AeFwy5wD6XOP5GEtxCa3rpuYIzND3nFC8AEjXutmEcEeXWVwbMJsdh7aleU6mxSSI25S3uNEMOEbguVQZFYVky2pfV-iE4aouplgfoNCYrJBhVAG8Wwi6xsAae1cun3S1yk&oh=a8c1a276ed31ca9b8c8f3237f3e76921&oe=5C1392DB"
                            class="img-responsive profileImage">
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a href="/team/11/Duanne" class="profileImage">
                        <img src="https://scontent.fmnl3-1.fna.fbcdn.net/v/t1.0-9/26804326_2202048839812590_6460397019306388139_n.jpg?_nc_cat=0&_nc_eui2=AeEr3jDAYu_GEEjJR0Oam-V2cL-4a16t4cfJcAkMkPFhK0v6oqLWdEEScbFEP4ZlOq-2e7PZN7L7xgWIAS-WR8XRKtRAA1Uj4LXJe5fZ7qioSY1W-SCupz1fQJAZXqyxOKM&oh=183c688526a45ed85778d7b72d481850&oe=5BCE4D61"
                            class="img-responsive profileImage">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .home {
        padding-bottom: 100px;
    }
    .description {
        text-align: center;
    }

    .profileImage {
        position: relative;
        top: 5px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
        height: 350px;
        padding-bottom: 10px;
    }

    .profileImage:hover {
        transition: all 0.4s ease-in-out;
        box-shadow: 0 5px 10px rgba(76, 102, 119);
    }
</style>